* {
    background-color: aliceblue;
  }
  .input_label {
    display: inline-block;
    width: 120px;
    text-align: center;
  }
  label {
    font-size: 18px;
    font-family: "Open Sans";
    font-weight: bold;
  }
  input {
    border: 1px solid;
    padding: 10px;
    font-size: 18px;
  }
  input[type="text"] {
    width: 300px;
    height: 30px;
  }
  input[type="password"] {
    width: 300px;
    height: 30px;
  }
  input[type="date"] {
    width: 300px;
    height: 30px;
  }
  .validation {
    display: inline-block;
    color: brown;
    font-style: italic;
    padding-left: 10px;
  }
  
  #subject {
    width: 300px;
    height: 40px;
  }
  
  body {
   min-height: auto;
    margin: 0px auto;
  }
  #form {
    padding: 10px auto;
    width: 800px;
    margin: 50px auto;
  }
  .button_container {
    width: 150px;
    height: 40px;
    margin: 0px auto;
  }
  .submit_button {
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    position: absolute;
    right: 165px;
    top: 15px;
  }
  .student_button {
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
         right: 05px;
         top: 15px;
  }
  .button_container2 {
    width: 150px;
    height: 40px;
    margin: 0px auto;
  }

   