table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 1px;
}
*{
    margin: 40px;
    padding: 0px;
    background-color: aliceblue;
}
table {
   
    text-align: center;
    margin: 10px auto;
}
body {
    width: 1200px;
    margin: 0px auto;
}
th {
    font-size: 16px;
}
td {
    font-size: 12px;
    font-weight: 600;
}
.students {
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
   
         right: 05px;
         top: 5px;
    
}
.buttoncon {
    width: 150px;
    margin: 20px 950px;
}
.inputt {
    width: 50px;
    
}
.header1 {
    font-size: 30px;
    font-weight: 900;
    margin: 10px auto;
    text-align: center;
    text-decoration: solid;
    font-family: Georgia, 'Times New Roman', Times, serif;

}